.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.logoDisplay {
  display: flex;
  align-items: center;
}

.detectDisplay {
  display: flex;
  flex-direction: column;
}