.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.interfaceDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.formDisplay {
  width: 50%;
}